@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
    background-color: rgb(255, 255, 255);
}

.button1 {
    height: 40px;
    width: 40px;
    border-radius: 30%;
    border: 2px solid white;
    background-color: green;
    color: white;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    align-items: center;

}

.button2 {
    height: 40px;
    width: 40px;
    border-radius: 30%;
    border: 2px solid white;
    background-color: red;
    color: white;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;

}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  #tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  :checked + label {
    text-decoration: line-through;
    color: grey;
  }

  .contador{
    margin: 2px;
    padding: 5px;
    width: 320px;
    height:320px;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    align-content: center;

  }

  .lista{
    margin: 2px;
    padding: 5px;
    width: 320px;
    height:320px;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    align-content: center;
  }